.fade-enter,
.fade-leave-to {
    opacity: 0 !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-delay-enter,
.fade-delay-leave-to {
    opacity: 0 !important;
}
.fade-delay-enter {
    transition-delay: 0.3s;
}

.fade-delay-enter-active,
.fade-delay-leave-active {
    transition: opacity 0.3s ease;
}
